 <!--Nafees Hasan 301147626 Assignment 2  10/22/2021-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>  

<!DOCTYPE html>
<html>
    <!--head section-->
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/content/app.css" />
    </head>
    <!--main content-->
    <main>
        <h1>
            About Me!
        </h1>
        <br/>
        <fieldset>
            <h2>Hi! I am Nafees Hasan! </h2>
            <h3>
                I am an international student from Bangladesh. I am studying Software Engineering Technology - AI at Centennial College.
                Working with database and programming languages has been an amazing experience for me. I would love to explore all my options
                in this field.
            </h3>
            <br/>
            <h3>
                You can access my resume <a href="/Assets/resume.pdf"> here.</a>
            </h3>
        </fieldset>
    </main>


<%- include partials/footer.ejs %>

</html>