body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/Assets/images/bg.jpg");
}

a {
  color: #00B7FF;
}

body {
  background-color: #fefbd8;
  word-spacing: 0em;
}

p {
  border: 1px solid powderblue;
  padding: 20px;
}

